body{
    /* background-color: #181818; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
    --Translate: -80%;
    --TranslateContent: 0%;
    --Rotate: 00deg;
    --color1 : #99cccc ;
    --color2 : #a8bdc2 ;
    --color3 : #b8aeb8 ;
    --color4 : #c79ead ;
    --color5 : #d78fa3 ;
    --color6 : #eeaeaa ;
    --color7 : #daaeaa ;
    --color8 : #c6aeaa;
    --color9 : #b2aeaa ;
    --color10 :#9eaeaa ;
}

::-webkit-scrollbar{
    display: none;
}

/* SIDEBAR Modificacion del menu */

.Sidebar{
    position: fixed;      
    background-color: var(--color1);
    width: 20%;
    left: 0%;
    margin-top: 1%;
    height: 93%;
    transition: all 800ms;
    transform: translate(var(--Translate));
    z-index: 2;    
    font-size: 20px;
}

.Top{
    width: 100%;
    height: 10%;
    position: relative;  
    display: flex;      
    align-items: center;     
    /* background-color: red; */
}

.svgSidebar{
    fill: white;
    margin: 8.5% 5%;   
    cursor: pointer;
    transition: all 400ms;
    transform: rotate(var(--Rotate));
    /* background-color: red; */
}

.svgSidebar:hover{
    fill: #3294db;
}

.titulo{    
    width: 100%; 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red;    */
}

.titulo::before{ 
    content: '';
    position: absolute;
    bottom: 0%;
    width: 121%; 
    height: 2px;
    background-color: white;
    
}

.titulo h1{    
    position: absolute;
    right: 0%;
    margin-top: 5%;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 28px;
    /* background-color: blue; */
}

ul{
    display: block;
}

ul li{
    list-style-type: none;
    margin: 10% 10%;
    width: 60%;
    padding: 5%;    
}

ul li a{
    color: white;
    text-decoration: none;    
}

ul li a:hover{
    color: #3294db;
}


/* Contenido */

.Contenedor{
    position: relative;    
    width: 80%;
    height: auto;
    margin: auto;
    color: rgba(255, 255, 255, 0.829)    ;
    transition: all 800ms;
    transform: translate(var(--TranslateContent));
}


.row2{
    position: relative;
    display: flex;
   
}

.Box{
    padding: 1%;
}

.Contenedor h1{
    letter-spacing: 2px;
    text-transform: uppercase;   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}